{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block extra_css %}
        {% image page.banner max-1900x1268 as my_banner  %}
        <style>
         .masthead {
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("{{ my_banner.url }}");
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("{{ my_banner.url }}");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        } 
        </style>
{% endblock %}


{% block content %}
<body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto" >
        <h1 class="mb-1">{{ page.title_caption }}</h1>
        <h3 class="mb-5">
          <em>{{ page.intro | richtext }}</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Find Out More</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- porfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">{% if page.language.code == 'en' %}PORFOLIO{% else %}作品集{% endif %}</h3>
          <h2 class="mb-5">{% if page.language.code == 'en' %}Recent Projects{% else %}近期專案{% endif %}</h2>
        </div>
        <div class="row no-gutters">
          {% for project in recent_projects %}
          <div class="col-lg-6">
            <a class="portfolio-item" href="{{ project.url }}">
              <span class="caption">
                <span class="caption-content">
                  <h2>{{ project.title }}</h2>
                  <p class="mb-0">{{ project.intro }}</p>
                </span>
              </span>
              {% image project.thumbnail max-700x647 as my_image  %}
              <img class="img-fluid" src="{{ my_image.url }}" alt="">
            </a>
          </div>
          {% endfor %}
        </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h2 class="mb-5">{{ page.about_caption }}</h2>
        </div>
        <div class="text-white pb-5 px-5" style='text-indent: 2rem'>{{ page.about_content |richtext }}</div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fas fa-table"></i>
            </span>
            <h4>
              <strong>{{ page.data_title }}</strong>
            </h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fas fa-network-wired"></i>
            </span>
            <h4>
              <strong>{{ page.web_title }}</strong>
            </h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fas fa-gamepad"></i>
            </span>
            <h4>
              <strong>{{ page.game_title }}</strong>
            </h4>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <h4>
              <strong>{{ page.tutorial_title }}</strong>
            </h4>
          </div>
        </div>
      </div>
    </section>

{% include 'footer.html' %}
{% endblock %}