{% extends "base.html" %}

{% block extra_css %}
<style>
.head {
    padding: 10rem;
}

@media only screen and (max-width:600px) and (min-width:150px) {
    .head{
    padding: 3rem;
    font-size: 0.8em;
    }
}

</style>
{% endblock %}

{% block content %}
<div class='container' align='center'>
    <div class="head">
        {% if language_code %}
            {% if language_code == 'en' %}
                <h1>Thank you! I'll reply ASAP!</h1>
            {% else %}
                <h1>感謝您的詢問，我會盡快回覆！</h1>
            {% endif %}
        {% else %}
            You visit this page through GET! how dirty you are!
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}