@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

.section_gap {
    padding: 3rem 0;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}


/* for series panel */
.series_panel {
    padding-top:20%;
    word-wrap: break-word;
    width: 200px;
}

@media only screen and (max-width:1000px) and (min-width:150px) {
    .series_panel {
        left:35%;
    } 
}

/* for stream page */
.block-paragraph {
    padding: 0 0 0 3rem;
}

/* .block-paragraph p {
    margin-bottom: 0rem;
} */

.block-two_columns .block-paragraph {
    padding: 0 0 0 1rem;
}

.block-two_columns h2{
    font-size: 1.5rem;
}


/* 16：9 ratio */
.responsive-image {
    width: 600px;
    height: 337.5px;
}

@media only screen and (max-width:600px) and (min-width:400px) {
    .responsive-image {
        width: 400px;
        height: 225px;
        }
}

@media only screen and (max-width:400px) and (min-width:100px) {
    .responsive-image {
        width: 300px;
        height: 168.75px;
        }
}


/* for code output sections */

.code_output {
    border: none;
    padding-left: 3%;
    max-height: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #db2d43;
    box-shadow: 2px 2px 2px 2px #F8F8F8;
    font-size: 0.8rem;
    line-height: 1.3;
    /* word-wrap: break-word; */
}

.code_output::-webkit-scrollbar {
    /* firefox not allow custom scrollbar, but it looks good */
    /* in chrome scrollbar is so ugly so I customize it */
    width: 12px;
    height: 12px;
    }
    
.code_output::-webkit-scrollbar-track {
    border: 1px solid #F19069;
    border-radius: 10px;
    }

.code_output::-webkit-scrollbar-thumb {
    background: #F19069;  
    border-radius: 10px;
    }

.code_output::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 131, 105);  
    }

@media screen and (max-width: 800px) {
    .code_output {
        overflow-x: scroll;
    }
}


/* For related pages */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

@media screen and (max-width: 800px) {
  .column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
    margin-left: 10%;
  }
}

