astroid==2.1.0
beautifulsoup4==4.6.0
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.0
Django==2.2.13
django-cogwheels==0.2
django-ipware==1.1.2
django-modelcluster==4.3
django-modeltranslation==0.12.2
django-taggit==0.23.0
django-treebeard==4.3
django-widget-tweaks==1.4.3
djangorestframework==3.9.0
draftjs-exporter==2.1.5
html5lib==1.0.1
idna==2.8
ipython==7.2.0
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.13.2
lazy-object-proxy==1.3.1
lxml==4.2.5
Markdown==3.0.1
mccabe==0.6.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
Pygments==2.3.1
pylint==2.2.2
pytz==2018.7
requests==2.21.0
six==1.12.0
traitlets==4.3.2
typed-ast==1.1.1
Unidecode==1.0.23
urllib3==1.24.1
wagtail==2.4
wagtailmenus==2.12
wagtailtrans==2.0.4
wcwidth==0.1.7
webencodings==0.5.1
Willow==1.1
wrapt==1.10.11
