<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1>Internal server error</h1>

        <h2>Sorry, there seems to be an error. Please try again soon.</h2>

        <h1>You should never see this page until something serious fucked up!</h1>
        <p>If you are kind enough, please tell me why you visit this page</p>
        <p>even311379@hotmail.com</p>
        <p>thank you!</p>
    </body>
</html>
