{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
                {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        
        <!-- Bootstrap4 Core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
          
        <!-- Enable fontawesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> 

        <!-- Custom Fonts -->
        <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
        <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        * {
            font-family: 'Noto Sans TC';
        }
        </style>

       
        <!-- Custom CSS -->
        <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
        <link href="{% static '/css/switch.css' %}" rel="stylesheet">

        {% block extra_css %}

        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="page-top">
        <!-- Navigation -->
        <a class="menu-toggle rounded" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar-wrapper" data-toggle="affix">
            <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#page-top">MyFreelancerLife</a>
            </li>
            
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="/{{ page.language.code }}/home">{% if page.language.code == 'en' %}Home{% else %}首頁{% endif %}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="/{{ page.language.code }}/blog">{% if page.language.code == 'en' %}Blog{% else %}部落格{% endif %}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#services">{% if page.language.code == 'en' %}HireMe{% else %}找我工作{% endif %}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#portfolio">{% if page.language.code == 'en' %}WebappService{% else %}網頁APP{% endif %}</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#contact">{% if page.language.code == 'en' %}ContactMe{% else %}聯絡我{% endif %}</a>
            </li>

            
            <li class="sidebar-nav-item" style="padding:15px">
                <form method="get" class="form-search" action="http://127.0.0.1:8000/{{ page.language.code }}/blog/search_post" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for post:" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" id="searchsubmit">
                            <i class="fas fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
            {% load wagtailtrans_tags %}
            {% get_translations page homepage_fallback=False include_self=False as translations %}
            {% for language, trans_page  in translations.items %}
            <li class="sidebar-nav-item" >
                <a href="{{ trans_page.url }}" class=" js-scroll-trigger" >switch to {{ language }}</a>
            </li>
            {% endfor %} 
            {% block moremenu %}{% endblock %}
            </ul>
        </nav>
        {% block content %}{% endblock %}

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
        </a> 

        {# Global javascript #}
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
       

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for this template -->
        <script src="{% static 'js/stylish-portfolio.js' %}"></script>
        {% comment %} <script type="text/javascript" src="{% static 'js/FreeLancerLife.js' %}"></script> {% endcomment %}

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
