{% extends "base.html" %}
{% load plotly_dash static wagtailcore_tags wagtailimages_tags wagtailmd blogapp_tags %}

{% block extra_css %}
<style>
iframe {
    height:600px;
    display: block;
}
</style>
{% endblock %}

{% block content %}
<div class='container bg-light'>
<h1>{{ page.app_name }}</h1>
{% for block in page.body_before_app %}
    {% if block.block_type == 'heading' %}
        <h2>{{ block.value }}</h2>
    {% elif block.block_type == 'image' %}               
        <a data-fancybox="gallery" href="/media/original_images/{{ block.value }}">
            <img class="responsive-image center" src="/media/original_images/{{ block.value }}">
        </a>
    {% elif block.block_type == 'custom_html' %}
        {{ block |safe }}
    {% else %}
        <div class="block-{{ block.block_type }}">
            {{ block }}
        </div>
    {% endif %}
{% endfor %}

{% if page.is_dash_app %}
    {% plotly_app name=page.app_name ratio=page.dash_ratio %}
{% endif %}
{% for block in page.body_after_app %}
    {% if block.block_type == 'heading' %}
    <h2>{{ block.value }}</h2>
    {% elif block.block_type == 'image' %}               
    <a data-fancybox="gallery" href="/media/original_images/{{ block.value }}">
        <img class="responsive-image center" src="/media/original_images/{{ block.value }}">
    </a>
    {% elif block.block_type == 'custom_html' %}
        {{ block |safe }}
    {% else %}
    <div class="block-{{ block.block_type }}">
        {{ block }}
    </div>
    {% endif %}
{% endfor %}
{% show_comments %}
</div>
{% if page.component_name %}
{% include page.component_name %}
{% endif %}
{% endblock %}