{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags  %}
{% load menu_tags %}

{% block extra_css %}
<style>
.form-group input[type="checkbox"] {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
{% image page.banner max-1900x1268 as my_banner  %}
.callout {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("{{ my_banner.url }}");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("{{ my_banner.url }}");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
{% endblock %}

{% block content %}
    <section class="callout">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">{{ page.title_caption }}</h2>
            <h6 class="mb-5">
            <em>from ABCD studio</em>
            </h6>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#posts_region">Find Out More</a>
        </div>
    </section>

    <section class='' id='posts_region'>
    <div class='container'>
    
    {% if present_method == 0 %}
        ... should add next few page buttons pagination
        {% comment %} {% if p %}
        <h3>this is page {{ p }}</h3>
        {% endif %} {% endcomment %}
    {% endif %}
    <h2>  {{ help_text }}  </h2>
    {% if present_method == 1 %}
        {% for cat in searched_categories %}
            <a href="/{{ page.language.code }}/blog/category/{{ cat.slug }}" class='badge badge-info badge-pill' >
            {% if page.language.code == 'en' %}{{ cat.name_en }}{% else %}{{ cat.name }}{% endif %}</a>
        {% endfor %}
        <br><br>
    {% endif %}
    {% if present_method == 2 %}
    {{ keyword }}
    {% endif %}
    {% if posts_this_page %}
        <div class="list-group">
            {% for post in posts_this_page %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ post.url }}">
                {{ post.title }}
                {% with categories=post.categories.all %}
                {% if categories %}
                <div>
                    {% for category in categories %}
                    <span class='badge badge-info badge-pill' >{% if page.language.code == 'en' %}{{ category.name_en }}{% else %}{{ category.name }}{% endif %}</span>
                    {% endfor %}
                </div>
                {% endif %}{% endwith %}
            </a>
            {% endfor %}
        </div>
    {% else %}
    <div class="mx-auto" style="text-align: center;">
        <h4>No results!</h4>
    </div>

    {% endif %}
    </section>
    <br>


<section class="">
<div class='container bg-light' align='center' style="padding-top:3rem;padding-bottom:3rem">
<h3>以類別搜尋po文：</h3>
<br>
<form action='/{{ page.language.code }}/blog/category/' method='POST'>
    {% csrf_token %}

{% for category in categories %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class='row justify-content-md-center'>
    {% endif %}
    <div class='col-md-3'>
        <div class="form-group">
            <input type="checkbox" name="{{ category.name }}" id="{{ category.name }}" autocomplete="off" />
            <div class="btn-group">
                <label for="{{ category.name }}" class="btn btn-primary">
                    <span class="fas fa-check"></span>
                    <span> </span>
                </label>
                <label for="{{ category.name }}" class="btn btn-default active" style="width: 120px">
                    {% if page.language.code == 'en' %}{{ category.name_en }}{% else %}{{ category.name }}{% endif %}
                </label>
            </div>
        </div>
    </div>
    {% cycle "" "" "</div>" %}

{% endfor %}
{% if n_category_left == 1 %}
    <div class='col-md-3'></div>
    <div class='col-md-3'></div>
    </div>
{% elif n_category_left == 2 %}
    <div class='col-md-3'></div>
    </div>
{% endif %}
<input type='submit' class='btn btn-success' value='查詢'>
</div>
</form>
</section>
   {% include 'footer.html' %}
{% endblock %}