{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block title %}{{ self.title }} | {{ blog_page.title }}{% endblock title %}
{% block meta_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}{% endblock meta_description %}
{% block extra_css %}

{% image page.banner max-1900x600 as my_banner  %}
<style>
.callout {
  padding: 6rem 0;
   background:url('{{ my_banner.url }}');
  {% if not page.tilable_banner %}
  background-repeat: no-repeat;
  background-size: 100% 100%;
  {% endif %}
}
</style>
{% endblock %}
{% block body_class%}bg-light{% endblock %}
{% block content %}
<section class="callout" style="color:{{page.title_color}};">
    <div class="container text-center">
       <h3 class="mx-auto md-5">{{ page.title }}</h3>
        <em>
            <span class="fas fa-calendar-alt"></span> {{ page.date|date:"D d M Y" }} &nbsp;
            <span class="fas fa-user"></span> {{ page.owner}} &nbsp;
        </em>
        
        {% with categories=page.categories.all %}
        {% if categories %}
            <div class='row justify-content-sm-center' style='padding-top:2vh'>
                {% for category in categories %}
                <div class='col-sm-auto'>
                <a class='badge badge-info badge-pill' href='/{{ page.language.code }}/blog/category/{{ category.slug }}' role="button">
                {% if page.language.code == 'en' %}{{ category.name_en }}{% else %}{{ category.name }}{% endif %}</a>
                </div>
                {% endfor %}
            </div>
        {% endif %}{% endwith %}
        <br>
         {% comment %} <a class="btn btn-primary btn-xl js-scroll-trigger" href="#detail">Start</a> {% endcomment %}
</section>

{% comment %} create buttons for each categories: {% endcomment %}

<div class='container'>
<section id='detail'>
{% comment %} {% with blocks=self.body %} {% endcomment %}

    {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>
        {% else %}
           <section class="block-{{ block.block_type }}">
               {{ block }}
           </section>
        {% endif %}
    {% endfor %}

<p><a href="/blog">Return to blog</a></p>
{% show_comments %}
</div>
</div>

{% endblock %}