{% extends "base.html" %}
{% load static wagtailroutablepage_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block extra_css %}
<link href="{% static '/blog/css/autumn.css' %}" rel="stylesheet">
<style>

</style>

{% endblock %}

{% block body_class%}bg-light{% endblock %}
{% block content %}
<div class='container bg-white'>
    <div class='row'>
        <div class='col-lg-9'>
            <h1 style="padding: 2rem 0;">{{ page.title }}</h1>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="fas fa-calendar-alt"></span> {{page.date|date:"D d M Y"}} &nbsp;
                    <span class="fas fa-user"></span> {{page.owner}} &nbsp;
                </div>

                <div>
                    {% for category in page.categories.all %}
                        <a href="/{{ page.language.code }}/blog/category/{{ category.slug }}" class='badge badge-info badge-pill' >
                        {% if page.language.code == 'en' %}{{ category.name_en }}{% else %}{{ category.name }}{% endif %}</a>
                    {% endfor %}
                </div>
            </div>
            <hr>
            {{ page.body|markdown|safe }}
           
        </div>

        <div class='col-lg-3 list-group series_panel'>
        {% if  Series %}        
            <div class="list-group-item active">{{ Series_name }}</div>
        {% for p in Series %}
            <div class="list-group-item list-group-item-action series-item{{ forloop.counter0 }}">
                {{ p.title }}
                <div class='series-post{{ forloop.counter0 }}' style="display: none;">
                    <hr>
                    <div class="row justify-content-center align-items-center "><a href="{{ p.url }}" class='btn btn-info' > GO! </a></div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>

    </div>

    <hr>
    
    {% comment %} {% include "request_notebook.html" %} {% endcomment %}



    <h2> {% if page.language.code == 'zh'%}相關文章：{% else %}Related Articles:{% endif %}</h2>
    <div class='row'>
        {% if related_page1 %}
        <div class="column">
            <div class="card">
            {% image related_page1.thumbnail max-300x300 as thumb  %}
                <img class="card-img-top" src="{{ thumb.url }}" alt="Card image cap" style="background-size: cover">
                <div class="card-body">
                    <p class="card-text">
                    <a href="/{{ page.language.code }}/blog/{{ page.related_page1.slug }}">
                    {% if related_page1_series_info %}
                    {{ related_page1_series_info }}: <br>
                    {% endif %}
                    {{ related_page1.title }}
                    </a>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        {% if related_page2 %}
        <div class="column">
            <div class="card">
            {% image related_page2.thumbnail max-300x300 as thumb  %}
                <img class="card-img-top" src="{{ thumb.url }}" alt="Card image cap" style="background-size: cover">
                <div class="card-body">
                    <p class="card-text">
                    <a href="/{{ page.language.code }}/blog/{{ page.related_page2.slug }}">
                    {% if related_page2_series_info %}
                    {{ related_page2_series_info }}: <br>
                    {% endif %}
                    {{ related_page2.title }}
                    </a>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% show_comments %}
</div>
{% endblock %}

{% block extra_js%}
<script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              extensions: ["tex2jax.js"],
              jax: ["input/TeX", "output/HTML-CSS"],
              tex2jax: {
                inlineMath: [['$','$']],
                displayMath: [['$$','$$']] ,
                processEscapes: true
              },
              "HTML-CSS": { availableFonts: ["TeX"] }
            });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>          


<script>
$('html').click(function(e) {
{% if  Series %}
{% for p in Series %}   
if( !$(e.target).hasClass('series-item{{ forloop.counter0 }}') )
{   
    var x = document.getElementsByClassName("series-item{{ forloop.counter0 }}")[0];
    var xa = document.getElementsByClassName("series-post{{ forloop.counter0 }}")[0]; 
    x.style.transform = "scale(1.0)";
    xa.style.display = "none";
}
else {
    var x = document.getElementsByClassName("series-item{{ forloop.counter0 }}")[0];
    x.style.transform = "scale(1.2)";
    var xa = document.getElementsByClassName("series-post{{ forloop.counter0 }}")[0]; 
    xa.style.display = "block";
}
{% endfor %}
{% endif %}
});    


</script>
{% endblock %}