{% extends "base.html" %}
{% load static wagtailroutablepage_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block extra_css %}
<link href="{% static '/blog/css/autumn.css' %}" rel="stylesheet">
{% endblock %}

{% block body_class%}bg-light{% endblock %}
{% block content %}
<div class='container bg-white'>
    <h1>{{ post.title }}</h1>
    {{ page.url }}
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span class="fas fa-calendar-alt"></span> {{post.date|date:"D d M Y"}} &nbsp;
            <span class="fas fa-user"></span> {{post.owner}} &nbsp;
        </div>

        <div>
            {% for category in page.categories.all %}
                <a href="http://127.0.0.1:8000/{{ page.language.code }}/blog/category/{{ category.slug }}" class='badge badge-info badge-pill' >{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    <hr>
    {{ post.body|markdown|safe }}
    <hr>
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    {% show_comments %}
</div>
{% endblock %}

{% block extra_js%}
<script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              extensions: ["tex2jax.js"],
              jax: ["input/TeX", "output/HTML-CSS"],
              tex2jax: {
                inlineMath: [['$','$']],
                displayMath: [['$$','$$']] ,
                processEscapes: true
              },
              "HTML-CSS": { availableFonts: ["TeX"] }
            });
          </script>
          
          <script type="text/javascript"
             src="https://cdn.mathjax.org/mathjax/latest/MathJax.js">
          </script>
{% endblock %}