{% extends "base.html" %}
{% load static wagtailroutablepage_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block extra_css %}
<link href="{% static '/blog/css/autumn.css' %}" rel="stylesheet">
{% endblock %}

{% block body_class%}bg-light{% endblock %}
{% block content %}
<div class='container bg-white'>
    <div class='row'>
        <div class='col-lg-9'>
            <h1>{{ page.title }}</h1>
            {{ page.url }}
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span class="fas fa-calendar-alt"></span> {{page.date|date:"D d M Y"}} &nbsp;
                    <span class="fas fa-user"></span> {{page.owner}} &nbsp;
                </div>

                <div>
                    {% for category in page.categories.all %}
                        <a href="http://127.0.0.1:8000/{{ page.language.code }}/blog/category/{{ category.slug }}" class='badge badge-info badge-pill' >
                        {% if page.language.code == 'en' %}{{ category.name_en }}{% else %}{{ category.name }}{% endif %}</a>
                    {% endfor %}
                </div>
            </div>
            <hr>
            {{ page.body|markdown|safe }}
           
        </div>

        <div class='clo-lg-3 list-group' style ="padding-top:20%;word-wrap: break-word;width: 200px;">
        {% if  Series %}        
            <div class="list-group-item active">{{ Series_name }}</div>
        {% for p in Series %}
            <div class="list-group-item list-group-item-action series-item{{ forloop.counter0 }}">
                {{ p.title }}
                <div class='series-post{{ forloop.counter0 }}' style="display: none;">
                    <hr>
                    <div class="row justify-content-center align-items-center "><a href="{{ p.url }}" class='btn btn-info' > GO! </a></div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>

    </div>
    <hr>
            <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    <hr>
    
    related posts:
    <div class="d-flex justify-content-between align-items-center" style="padding-left:10%;padding-right:10%;">
    {% for rp in page.related_links.all %}
        {% image rp.page.thumbnail max-286x180 as this_thumbnail  %}
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="{{ this_thumbnail.url }}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">{{ rp.page.title }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
            {% show_comments %}
</div>
{% endblock %}

{% block extra_js%}
<script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              extensions: ["tex2jax.js"],
              jax: ["input/TeX", "output/HTML-CSS"],
              tex2jax: {
                inlineMath: [['$','$']],
                displayMath: [['$$','$$']] ,
                processEscapes: true
              },
              "HTML-CSS": { availableFonts: ["TeX"] }
            });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>          


<script>
$('html').click(function(e) {
{% if  Series %}
{% for p in Series %}   
if( !$(e.target).hasClass('series-item{{ forloop.counter0 }}') )
{   
    var x = document.getElementsByClassName("series-item{{ forloop.counter0 }}")[0];
    var xa = document.getElementsByClassName("series-post{{ forloop.counter0 }}")[0]; 
    x.style.transform = "scale(1.0)";
    xa.style.display = "none";
}
else {
    var x = document.getElementsByClassName("series-item{{ forloop.counter0 }}")[0];
    x.style.transform = "scale(1.2)";
    var xa = document.getElementsByClassName("series-post{{ forloop.counter0 }}")[0]; 
    xa.style.display = "block";
}
{% endfor %}
{% endif %}
});    


</script>
{% endblock %}